#fondo
{
    background-image: url(../../../assets/Imagenes/N1P2-BG.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#fs-p{font-size: 120%;}
h1,h2,h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1
{
    text-align: center;
    font-size: 200%;
}
h2
{
    text-align: center;
    font-size: 170%;
}
h3
{
    font-size: 130%
}
select{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.dashed {
    border-style: dashed;
    padding-left: 35px;
    padding-right: 25px;
    padding-top: 15px;
    margin-left: 85px;
    margin-right: 85px;
}
.txtField
{
    width: 50px;
    margin-top: 5px;
}
#img
{
    float: unset;
    height:25%; 
    width:25%
}
.wrong
{
    font-size: 65%;
    border-radius: 50%;
    color: red;
    margin-right: 2px;
    margin-left: 4px;
}