<!-- <body> -->
    <!-- Componente que pertenece al punto 3 del nivel 1 "ARTICLES" (a/an/the) -->
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * T E O R I A  - A R T I C L E S * * * * * * * * * * -->
        <div *ngIf="showTeoria"> <!--Teoria empieza con el valor de true, por lo que es lo que se muestra al inicio-->
            <div class="container">
                <div class="card-body">
                    <!-- Descripción del verb to be -->
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h1>Articles</h1>
                            <h2><i>A, An, The</i></h2>
                            
                            <p>
                                The articles are the words "a," "an," and "the." They define whether something is specific or unspecific. There are two types of article:
                            </p>
                            <ul>
                                <li class="mb-3">
                                    <b>The Definite Article (The). </b> 
                                    "The" is called the definite article. It defines its noun as something specific (e.g., something previously mentioned or known, something unique, 
                                    something being identified by the speaker).<br>
                                    Example: <i>This is the lake.</i> (This is a previously specified lake, i.e., one already known to the readers.)
                                </li>
                                <li class="mb-3">
                                    <b>The Indefinite Article (A, An).</b>
                                    "A" and "an" are called the indefinite articles. They define their noun as something unspecific (e.g., something generic, something mentioned for the first time).<br>
                                    Example: <i>This is a lake.</i> (This is a previously unspecified lake.)
                                </li>
                            </ul>
                            <div class="dashed">
                                <h2>Key Takeaway</h2>
                                <p>
                                    <b>"The"</b> is called the definite article because it is used to indicate something specific.<br>
                                    <b>"A"</b> and <b>"an"</b> are called the indefinite articles because they are used to indicate something unspecific.<br>
                                </p>
                            </div>

                            <h2 class="mt-4">A vs AN</h2>
                            <p>The article "a" is used before a noun that begins with a consonant sound, "an" is used when the noun begins with a vowel sound (a, e, i, o, u). </p>

                            <h2 class="mt-4">Examples of the Definite and Indefinite Articles</h2>
                            <ul>
                                <li><i>Can you pass me <b>a</b> chair?</i></li>  (This means an unspecific chair, any chair). 
                                <li><i>Ben has <b>an</b> apple.</i></li> (This means an unspecific apple, any apple).
                                <li><i>Tom has a bike. <b>The</b> bike is blue.</i></li> (This refers to Tom's bike).
                            </ul>
                            
                            <h2 class="mt-4">Indefinite Articles Are Used with Singular Nouns</h2>
                            <h3>The indefinite article ("a," "an") is only for singular nouns. It is not used for plural nouns.</h3>
                            <p>As the indefinite article specifies one thing ("a cup" means "one cup"), it is not used with non-countable nouns ("water," "air"). For example:</p>
                            <ul>
                                <li>I need an air.</li>
                                <li>Play me a music.</li>
                            </ul>
                            <p class="mb-4">Most commonly, the indefinite determiner "some" is used instead.</p>
                        </div>
                    </div>
                    
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="/level1">Regresar </button>&nbsp;&nbsp; <!--Regresa al menú del nivel 1-->
                            <button type="button" class="btn" id="next" (click)="controlEjercicio1()">Continuar</button> <!--  Va a la función para validar que se debe de mostrar el primer ejercicio-->
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        </div>

        <!-- * * * * * * * * E J E R C I C I O S -- PARTE 1  * * * * * * * * * * -->
        <div *ngIf="showEx1"> <!-- Solo se mostrará esta parte siempre y cuando showEx1 = true -->
            <div class="container">
                <div class="card-body">
                    <!-- * * * * * * PRIMERA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <h1>Articles</h1>
                        <h2>Excercise 1</h2>
                        <h3 class="text-center">a / an / the / x</h3>

                        <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>1. </b>I like  
                            <!-- Opciones -->
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="the">the</option>
                                <option value="x">x</option>
                            </select>
                            blue T-shirt over there better than
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="the">the</option>
                                <option value="x">x</option>
                            </select>
                             red one.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>2. </b>Their car does 150 miles  
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                             hour.</p>
                        </div>
                    </div><br>

                    <!-- * * * * * * SEGUNDA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>3. </b>Where's  
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                             USB drive I lent you last week?.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Cuarta pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>4. </b>Do you still live in 
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                             Bristol?</p>
                        </div>
                    </div><br>
    
                    <!-- * * * * * * TERCERA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Quinta pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>5. </b>Is your mother working in 
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                             old office building?</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Sexta pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>6. </b>Carol's father work as 
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                            electrician.</p>
                        </div>
                    </div><br>
    
                    <!-- * * * * * * CUARTA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Séptima pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>7. </b>The tomatoes are 99 pence  
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                            kilo.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Octava pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>8. </b>What do you usually have for 
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                            breakfast.</p>
                        </div>
                    </div><br>

                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Novena pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>9. </b>Ben has 
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                            terrible headache.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Décima pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>10. </b>After this tour you have 
                                <select>
                                    <option selected> </option>
                                    <option value="a">a</option>
                                    <option value="an">an</option>
                                    <option value="the">the</option>
                                    <option value="x">x</option>
                                </select>
                            whole afternoon free to explore the city.</p>
                        </div>
                    </div> 
                    <br>
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="/level1">Cancelar</button>&nbsp;&nbsp; <!--Si da cancelar ya iniciando el ejercicio lo redirecciona al menu del nivel 1-->
                        </div>
                        <div class="col-4">
                            <img src="../../../assets/Imagenes/N1P3-study.png" class="img-fluid">
                        </div>
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="next" (click)="checkResp1()">Continuar</button> <!-- Checa las respuestas de este primer ejercicio, de ser correctas se mostrará el ejercicio 2-->
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        </div>

        <!-- * * * * * * * * E J E R C I C I O S -- PARTE 2  * * * * * * * * * * -->
        <div *ngIf="showEx2"> <!-- Solo se mostrará esta parte siempre y cuando showEx2 = true -->
            <div class="container">
                <div class="card-body">
                    <!-- Descripción del verb to be -->
                    <div class="row justify-content-center">
                        <h1>Articles</h1>
                        <h2>Excercise 2</h2>
                        <h3 class="text-center">a / an / some</h3>
                        <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>1. </b>I have   
                            <!-- Opciones -->
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            idea.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>2. </b>That's   
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                             interesting job.</p>
                        </div>
                    </div><br>
    
                    <!-- * * * * * * SEGUNDA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>3. </b>They have found  
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            gold in that old mine</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Cuarta pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>4. </b>Do the Smiths have 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            yellow van?</p>
                        </div>
                    </div><br>
    
                    <!-- * * * * * * TERCERA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Quinta pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>5. </b>Look! He's having 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            water.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Sexta pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>6. </b>He always likes 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            piece of chocolate.</p>
                        </div>
                    </div><br>
    
                    <!-- * * * * * * CUARTA FILA * * * * * * -->
                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Séptima pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>7. </b>I have 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            homework to do for tomorrow.</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Octava pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>8. </b>There's 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            nice girl in the red car.</p>
                        </div>
                    </div><br>

                    <div class="row justify-content-center">
                        <!-- ~ ~ ~ ~ Novena pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>9. </b>Would you like 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            milk with your cookies?</p>
                        </div>
                        <div class="col-1"></div>
                        <!-- ~ ~ ~ ~ Décima pregunta  ~ ~ ~ ~ -->
                        <div class="col-4">
                            <p><b>10. </b>How about 
                            <select>
                                <option selected> </option>
                                <option value="a">a</option>
                                <option value="an">an</option>
                                <option value="some">some</option>
                            </select>
                            grapes?</p>
                        </div>
                    </div><br>
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="/level1">Cancelar</button>&nbsp;&nbsp; <!--Si da cancelar ya iniciando el ejercicio lo redirecciona al menu del nivel 1-->
                        </div>
                        <div class="col-4">
                            <img src="../../../assets/Imagenes/N1P3-conv.gif" class="img-fluid">
                        </div>
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="next">Continuar</button> <!--(click)="checkResp1()" Checa las respuestas de este primer ejercicio, de ser correctas se mostrará el ejercicio 2-->
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
        
        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
<!-- </body> -->