<p>n1-punto2 works!</p>
<body>
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <div class="container">
            <div class="card-body text-center"> <!-- -->
                <div class="container">
                    <div class="row-border">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <h1>To be</h1>
                                <h2>verbo 'ser/estar'</h2>
                                
                                <div class="row">
                                    <div class="col-8">
                                        <h3>Descripción</h3>
                                        <p>Es uno de los verbos más importantes en inglés. Se utiliza para hablár de la edad, nombres, emociones, nacionalidades o profesiones.</p>
                                        
                                        <h3>Conjugación</h3>
                                        <p>La conjugación del verbo 'ser/estar' (to be) en presente simples (Present Simple).</p>
                                        <table>
                                            <tr>
                                                <th>To be</th>
                                                <th>Versión corta</th>
                                                <th>Traducción</th>
                                            </tr>
                                            <tr>
                                                <td>I am</td>
                                                <td>I'm</td>
                                                <td>Yo soy</td>
                                            </tr>
                                            <tr>
                                                <td>You are</td>
                                                <td>You're</td>
                                                <td>Tú eres</td>
                                            </tr>
                                            <tr>
                                                <td>He is</td>
                                                <td>He's</td>
                                                <td>Él es</td>
                                            </tr>
                                            <tr>
                                                <td>I am</td>
                                                <td>I'm</td>
                                                <td>Yo soy</td>
                                            </tr>
                                            <tr>
                                                <td>I am</td>
                                                <td>I'm</td>
                                                <td>Yo soy</td>
                                            </tr>
                                            <tr>
                                                <td>I am</td>
                                                <td>I'm</td>
                                                <td>Yo soy</td>
                                            </tr>
                                            <tr>
                                                <td>I am</td>
                                                <td>I'm</td>
                                                <td>Yo soy</td>
                                            </tr>
                                            <tr>
                                                <td>I am</td>
                                                <td>I'm</td>
                                                <td>Yo soy</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
</body>