#fondo
{
    background-image: url(../../../assets/Imagenes/N1P2-BG.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#fs-p{font-size: 120%;}

h1,h2,h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1
{
    text-align: center;
    font-size: 200%;
}
h2
{
    text-align: center;
    font-size: 170%;
}
h3
{
    font-size: 130%
}
table
{
    /* margin: auto; */
    text-align: center;
    background-color: #89949e3f;
    border-radius: 10px;
}
td,th
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px
}
.margent1
{
    margin-left: 10%;
    margin-right: 15%;
}
.margent2
{
    margin-left: 15%;
    margin-right: 20%;
}
.txtField
{
    width: 50px;
    margin-top: 5px;
}
#next
{
    background-color: rgb(63, 155, 101);
}
#back
{
    background-color: rgb(177, 114, 55);
}
#img
{
    float: unset;
    height:25%; 
    width:25%
}