<!-- <body> -->
<div id="fondo" (click)="renovToken()">
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * T E O R I A  * * * * * * * * * * -->
        <div *ngIf="showTeoria"> <!--Teoria empieza con el valor de true, por lo que es lo que se muestra al inicio-->
            <div class="container">
                <div class="card-body">
                    <!-- Descripción del verb to be -->
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h1>To be</h1>
                            <h3>Description</h3>
                            <p>It is one of the most important verbs in English. It is used to talk about age, names, emotions, nationalities or professions. </p>
                            
                            <h3>Conjugation</h3>
                            <p>
                                The conjugation of the verb 'to be' in Present Simple. 
                                <br><b>*NOTA*</b>. 'I' - is always capitalized.
                            </p>

                            <div class="margent1">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Long form</th>
                                            <th>Short form</th>
                                            <th>Traduction</th>
                                        </tr>
                                        <tr>
                                            <td>I am</td>
                                            <td>I'm</td>
                                            <td>Yo soy</td>
                                        </tr>
                                        <tr>
                                            <td>You are</td>
                                            <td>You're</td>
                                            <td>Tú eres</td>
                                        </tr>
                                        <tr>
                                            <td>He is</td>
                                            <td>He's</td>
                                            <td>Él es</td>
                                        </tr>
                                        <tr>
                                            <td>She is</td>
                                            <td>She's</td>
                                            <td>Ella es</td>
                                        </tr>
                                        <tr>
                                            <td>It is</td>
                                            <td>It's</td>
                                            <td>Ello es</td>
                                        </tr>
                                        <tr>
                                            <td>We are</td>
                                            <td>We're</td>
                                            <td>Yo soy</td>
                                        </tr>
                                        <tr>
                                            <td>You are</td>
                                            <td>You're</td>
                                            <td>Ustedes son</td>
                                        </tr>
                                        <tr>
                                            <td>They are</td>
                                            <td>They're</td>
                                            <td>Ellos son</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="margent2">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Negation</th>
                                            <th>Short form</th>
                                        </tr>
                                        <tr>
                                            <td>I am not</td>
                                            <td>I'm not</td>
                                        </tr>
                                        <tr>
                                            <td>You are not</td>
                                            <td>You aren't</td>
                                        </tr>
                                        <tr>
                                            <td>He is not</td>
                                            <td>He isn't</td>
                                        </tr>
                                        <tr>
                                            <td>She is not</td>
                                            <td>She isn't</td>
                                        </tr>
                                        <tr>
                                            <td>It is not</td>
                                            <td>It isn't</td>
                                        </tr>
                                        <tr>
                                            <td>We are not</td>
                                            <td>We aren't</td>
                                        </tr>
                                        <tr>
                                            <td>You are not</td>
                                            <td>You aren't</td>
                                        </tr>
                                        <tr>
                                            <td>They are not</td>
                                            <td>They aren't</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Tabla del verb to be en afirmación -->
                    <div class="row justify-content-center">
                        <div class="col-6">
                            
                        </div>
                    </div> 
                    <br>
                    <!-- Tabla de verb to be en negacion -->
                    <div class="row justify-content-center">
                        <div class="col-5">
                        
                        </div>
                    </div>  
                    <br>
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <button type="button" class="btn" id="back" routerLink="/level1">Regresar </button>&nbsp;&nbsp; <!--Regresa al menú del nivel 1-->
                            <button type="button" class="btn" id="next" (click)="controlEjercicio1()">Continuar</button> <!--Va a la función para validar que se debe de mostrar el primer ejercicio-->
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        </div>

        <!-- * * * * * * * * E J E R C I C I O S -- PARTE 1  * * * * * * * * * * -->
        <div *ngIf="showEx1"> <!--Se muestra esta parte cuando el parámetro showEx1 = true-->
            <form [formGroup]="ejercicio1" (ngSubmit)="checkResp1()">
                <div class="container">
                    <div class="card-body"> 
                        <!-- * * * * * * PRIMERA FILA * * * * * * -->
                        <div class="row justify-content-center">
                            <h1>To be</h1>
                            <h2 class="mb-5">Excercise 1</h2>
                            <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                            <div class="col-4">
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p1" class="wrong badge bg-danger">.</span>
                                        <b>1. </b>Alex 
                                        <!-- Opciones -->
                                        <select formControlName="pregunta1P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select>
                                            my new friend.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p2" class="wrong badge bg-danger">.</span>
                                        <b>2. </b>I 
                                        <select formControlName="pregunta2P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                        a very good driver.
                                    </p>
                                </div>
                                
                                <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p3" class="wrong badge bg-danger">.</span>
                                        <b>3. </b>My neighbours 
                                        <select formControlName="pregunta3P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                        very noisy.
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Cuarta pregunta  ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p4" class="wrong badge bg-danger">.</span>
                                        <b>4. </b>Your black cat 
                                        <select formControlName="pregunta4P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                        in the garden.
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Quinta pregunta  ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p5" class="wrong badge bg-danger">.</span>
                                        <b>5. </b>Susan and Mike 
                                        <select formControlName="pregunta5P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                        my parents.
                                    </p>
                                </div>
                            </div>
                            <!-- ~ ~ ~ ~ Sexta pregunta  ~ ~ ~ ~ -->
                            <div class="col-4">
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p6" class="wrong badge bg-danger">.</span>
                                        <b>6. </b>They 
                                        <select formControlName="pregunta6P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                            my best friends.
                                        </p>
                                    </div>
                                <!-- ~ ~ ~ ~ Séptima pregunta  ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p7" class="wrong badge bg-danger">.</span>
                                        <b>7. </b>I 
                                        <select formControlName="pregunta7P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                        sure.
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Octava pregunta  ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p8" class="wrong badge bg-danger">.</span>
                                        <b>8. </b>Your best friend 
                                        <select formControlName="pregunta8P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select> 
                                        at home.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Novena pregunta  ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p9" class="wrong badge bg-danger">.</span>
                                        <b>9. </b>We 
                                        <select formControlName="pregunta9P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select>     
                                        from Spain.
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Décima pregunta  ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p10" class="wrong badge bg-danger">.</span>
                                        <b>10. </b>Luke and Tom 
                                        <select formControlName="pregunta10P1">
                                            <option selected> </option>
                                            <option value="am">am</option>
                                            <option value="is">is</option>
                                            <option value="are">are</option>
                                        </select>    
                                        actors.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                        <!-- Botones -->
                        <div class="row justify-content-center">
                            <div class="col-3 text-center">
                                <button type="button" class="btn" id="back" routerLink="/level1">Cancelar</button>&nbsp;&nbsp; <!--Si da cancelar ya iniciando el ejercicio lo redirecciona al menu del nivel 1-->
                                <button type="submit" class="btn" id="next">Continuar</button>
                            </div>
                        </div>  
                        <br>
                    </div>
                </div><br><br>
            </form>
        </div>

        

        <!-- * * * * * * * * E J E R C I C I O S -- PARTE 2  * * * * * * * * * * -->
        <div *ngIf="showEx2"> <!--Se muestra esta parte cuando el parámetro showEx1 = true-->
            <div class="row justify-content-center">
                <h1>To be</h1>
                <h2>Excercise 2</h2>
                <!-- ~ ~ ~ ~ Primer párrafo  ~ ~ ~ ~ -->
                <div class="col-5">
                    <h4>Complete the next paragraphs with <b>am/is/are</b>.</h4><br>
                    <form [formGroup]="ejercicio2">
                        <p id="fs-p">
                            <b>1. </b>Hello, my name <span *ngIf="submitted && p1" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta1P2" style="text-transform:lowercase;" maxlength="3"> Kim. I 
                            <span *ngIf="submitted && p2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta2P2"style="text-transform:lowercase;" maxlength="3"> twelve years old and I 
                            <span *ngIf="submitted && p3" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta3P2" style="text-transform:lowercase;" maxlength="3"> from China.I 
                            <span *ngIf="submitted && p4" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta4P2" style="text-transform:lowercase;" maxlength="3"> student at Centennial Secondary School. My favorite subjects 
                            <span *ngIf="submitted && p5" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta5P2" style="text-transform:lowercase;" maxlength="3"> Maths and Art.My favorite sport 
                            <span *ngIf="submitted && p6" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta6P2" style="text-transform:lowercase;" maxlength="3"> baseball and my favorite colors 
                            <span *ngIf="submitted && p7" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta7P2" style="text-transform:lowercase;" maxlength="3"> blue and purple. May and Joe 
                            <span *ngIf="submitted && p8" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta8P2" style="text-transform:lowercase;" maxlength="3"> my best friends. They 
                            <span *ngIf="submitted && p9" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta9P2" style="text-transform:lowercase;" maxlength="3"> great.
                        </p>
                    </form>
                    <br>
                </div>
                <div class="col-3">
                    <img src="../../../assets/Imagenes/N1P2-china.png" class="img-fluid">
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-3">
                    <img src="../../../assets/Imagenes/N1P2-friends.png" class="img-fluid">
                </div>
                <!-- ~ ~ ~ ~ Segundo párrafo  ~ ~ ~ ~ -->
                <div class="col-5">
                    <form [formGroup]="ejercicio2_2">
                        <p id="fs-p">
                            <b>2. </b>Peter Baker 
                            <span *ngIf="submitted && p1_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta10P2" style="text-transform:lowercase;" maxlength="3"> from Manchester, but Paul and John 
                            <span *ngIf="submitted && p2_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta11P2" style="text-transform:lowercase;" maxlength="3"> from London. Manchester and London 
                            <span *ngIf="submitted && p3_2"class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta12P2" style="text-transform:lowercase;" maxlength="3"> cities in England. Hamburg 
                            <span *ngIf="submitted && p4_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta13P2" style="text-transform:lowercase;" maxlength="3"> a city in Germany. Sandra 
                            <span *ngIf="submitted && p5_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta14P2" style="text-transform:lowercase;" maxlength="3"> at school today. Jack and Peter 
                            <span *ngIf="submitted && p6_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta15P2" style="text-transform:lowercase;" maxlength="3"> her friends. They 
                            <span *ngIf="submitted && p7_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta16P2" style="text-transform:lowercase;" maxlength="3"> in the same class. Mr and Mrs Baker 
                            <span *ngIf="submitted && p8_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta17P2" style="text-transform:lowercase;" maxlength="3"> on a trip to the USA to visit their cousin Anne. She 
                            <span *ngIf="submitted && p9_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta18P2" style="text-transform:lowercase;" maxlength="3"> a nice girl. Peter says: "My grandfather 
                            <span *ngIf="submitted && p10_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta19P2" style="text-transform:lowercase;" maxlength="3"> in the hospital. I 
                            <span *ngIf="submitted && p11_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta20P2" style="text-transform:lowercase;" maxlength="3"> at home with my grandmother". What time 
                            <span *ngIf="submitted && p12_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta21P2" style="text-transform:lowercase;" maxlength="3"> it?. It 
                            <span *ngIf="submitted && p13_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta22P2" style="text-transform:lowercase;" maxlength="3"> 8 o'clock. 
                            <span *ngIf="submitted && p14_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta23P2" style="text-transform:lowercase;" maxlength="3"> you tired? No I 
                            <span *ngIf="submitted && p15_2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta24P2" style="text-transform:lowercase;" maxlength="3"> not.
                        </p>
                    </form>
                </div>
                
            </div>
            <br>
            <!-- Botones -->
            <div class="row justify-content-center">
                <div *ngIf="!bloqueo">
                    <div class="col-3 text-center">
                        <button type="button" class="btn" id="back" routerLink="/level1">Cancelar</button>&nbsp;&nbsp; <!--Si da cancelar ya iniciando el ejercicio lo redirecciona al menu del nivel 1-->
                        <button type="button" class="btn" id="next" (click)="checkResp2()">Continuar</button> <!--Checa las respuestas de este primer ejercicio, de ser correctas se mostrará el ejercicio 2-->
                    </div>
                </div>
                <div *ngIf="bloqueo">
                    <div class="col-3 text-center">
                        <button type="button" class="btn" id="back" disabled>Cancelar</button>&nbsp;&nbsp; 
                        <button type="button" class="btn" id="next" disabled>Continuar</button> 
                    </div>
                </div>
            </div>  
        </div>
        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
</div>
<!-- </body> -->