<body>
    
      <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <div class="container">
            <div class="card-body"> <!-- text-center-->
                <div class="container">
                    <div class="row-border">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <h1>Level 1</h1>
                                <table class="table table-striped table-hover">
                                    <!-- <thead>Level 1</thead> -->
                                    <tbody>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn1">1</button>&nbsp;
                                                <a routerLink="/#">Vocabulary</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn5">5</button>&nbsp;
                                                <a routerLink="/#">Vocabulary</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn2">2</button>&nbsp;
                                                <a routerLink="/#">Verb to be</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn6">6</button>&nbsp;
                                                <a routerLink="/#">Plural</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn3">3</button>&nbsp;
                                                <a routerLink="/#">Articles</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn7">7</button>&nbsp;
                                                <a routerLink="/#">Much vs Many</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn4">4</button>&nbsp;
                                                <a routerLink="/#">Articles</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn8">8</button>&nbsp;
                                                <a routerLink="/#">Present Simple</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
</body>