<body>
  <!-- <h3>LOGIN</h3>

  **************** Probamos que se haya conectado correctamente la base de datos ****************
  <ul>
      <li class="text" *ngFor="let item of items | async">
      {{item.Nombre}} || {{item.Usuario}} || {{item.Correo}}
      </li>
  </ul> -->
  
  <br><br>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <img src="../../../assets/Imagenes/loginLogo.png" style="float: unset; height:25%; width:25%">
          <h1>Acceder</h1>
          <form [formGroup]="login" (ngSubmit)="inicioSesion()">
            <mat-form-field class="ancho" appearance="outline">
              <mat-label>Usuario</mat-label>
              <input formControlName="User" matInput autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="ancho" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input formControlName="Password" matInput type="password" autocomplete="off">
            </mat-form-field>
            <br>
            <button type="submit" class="btn btn-primary btn-block"> Iniciar Sesión </button>
          </form>
        </div>
      </div>
    </div> 
  </div>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <label>¿No tienes una cuenta? <a routerLink="/registro">Regístrate</a></label>
        </div>
      </div>  
    </div>
  </div>
  <br>
</body>