<body>
  <!-- <h3>LOGIN</h3>
  <ul>
      <li class="text" *ngFor="let item of items | async">
      {{item.Nombre}} || {{item.Usuario}} || {{item.Correo}}
      </li>
  </ul> -->
  <!-- <div class="container">
    <div class="row content margen-f">
      <div class="col-md-6 mb-3 pt-3" id="izq">
        <img src="../../../assets/Imagenes/login.png" class="img">
      </div>
      <div class="col-md-6 mb-3" id="der">
        <img src="../../../assets/Imagenes/login2.png" style="height: 100%; width: 100%; float: right;">
      </div>
    </div>
  </div> -->
  <br><br>

  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <img src="../../../assets/Imagenes/login.png" style="float: unset; height:25%; width:25%">
          <h1>Acceder</h1>
          <mat-form-field class="ancho" appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput autocomplete="off">
          </mat-form-field>
          <br>
          <mat-form-field class="ancho" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" autocomplete="off">
          </mat-form-field>
          <br>
          <button type="button" class="btn btn-primary btn-block"> Iniciar Sesión </button>
          <br>
        </div>
      </div>
    </div> 
  </div>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <label>¿No tienes una cuenta? <a routerLink="#">Regístrate</a></label>
        </div>
      </div>  
    </div>
  </div>
  <br>
</body>