#fondo
{
    background-image: url(../../../assets/Imagenes/N1P8-BG.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#fs-pt{font-size: 110%;}
#fs-p{font-size: 120%;}

.wordbank
{
    width: 70%;
    height: 20%;
    padding: 2%;
    margin: 2% 10%;
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    text-align: center;
    
}
.word
{
    float:left;
    justify-content: center;
    align-items:baseline;
    flex-direction: center;
    text-align: center;
    width: 25%;
    height: 60%;
    padding: 2%;
    margin: 3% 1.6%;
    border: 1.5px dashed #111;
    background-color: rgb(216, 216, 216);
}
.caja{
    margin: 2%;
    float:left;
    width: 20.5%;
    padding: 4%;
    text-align: center;
    background-color: rgba(174, 98, 224, 0.616);
    border: 1px solid #111;
}
.caja h3{
    font-size: 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
#next
{
    background-color: rgb(63, 155, 101);
    width: 150px;
}
#back
{
    background-color: rgb(177, 114, 55);
    width: 150px;
    margin-right: 20px;
}
.wrong
{
    font-size: 65%;
    border-radius: 50%;
    color: red;
    margin-right: 3px;
}
select{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
h1,h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1
{
    text-align: center;
    font-size: 200%;
}
h2
{
    text-align: center;
    font-size: 155%;
}
h3
{
    font-size: 120%
}