<!-- <div (click)="renovToken()"> -->
    <!-- Componente que pertenece al punto 7 del nivel 1 "Much vs Many" -->
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * T E O R I A * * * * * * * * * * -->
        <!--<div *ngIf="showTeoria">--> <!--Teoria empieza con el valor de true, por lo que es lo que se muestra al inicio-->
            <div class="container">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h1>Much, many and a lot</h1>
                            <br>
                            <p>"Much", "many", and "a lot of" indicate a large quantity of something, 
                            <br>for example "I have a lot of friends " means I have a large quantity of friends.
                            <br>
                            Much, many, and a lot are quantifiers. 
                            <br>
                            <br>In the interrogative forms we use:
                            <br>much with uncountable nouns. (money, bread, water...)
                            <br>Example:
                            <br>How much money/bread/water...is there?
                            <br>many with countable nouns. (students, desks, windows...)
                            <br>Example:
                            <br>How many students/teachers/desks... are there?
                            <br>In the negative forms we use:
                            <br>much with uncountable nouns. (money, bread, water...)
                            <br>Example:
                            <br>I haven't got much money/bread/water...
                            <br>many with countable nouns. (students, desks, windows...)
                            <br>Example:
                            <br>There aren't many students/teachers/desks...
                            <br>In the affirmative forms:
                            <br>In spoken English and informal writing we tend to use:
                            <br>a lot, a lot of, lots of with countable and uncountable nouns.
                            <br>Example:
                            <br>"How many students are there in the classroom?"
                            <br>"There are a lot."
                            <br>"How many students are there in the classroom?"
                            <br>"There are a lot of / lots of students"..
                            </p>
                        </div>
                    </div>
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->

        <!-- * * * * * * * * E J E R C I C I O S * * * * * * * * * * -->
        <!-- <div *ngIf="---"> --> <!-- Validación para que muestre los ejercicios -->
                <div class="container">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <p>Instructions: Use the most common words</p>
                                <div class="wordbank">
                                    <div class="word">
                                        <h2>Much</h2>
                                    </div>
                                    <div class="word">
                                        <h2>Many</h2>
                                    </div>
                                    <div class="word">
                                        <h2>A lot of</h2>
                                    </div>
                                </div>
                                <div class="caja">
                                    <h3>1. There isn't //much//coffee</h3>
                                </div>
                                <div class="caja">
                                    <h3>2. I love you very //much//.</h3>
                                </div>
                                <div class="caja">
                                    <h3>3. There are //a lot of// fish.</h3>
                                </div>
                                <div class="caja">
                                    <h3>4. Don't eat too //many// sweets.</h3>
                                </div>
                                <div class="caja">
                                    <h3>5. How //much// is it?</h3>
                                </div>
                                <div class="caja">
                                    <h3>6. Peter drinks //a lot of// water.</h3> 
                                </div>
                                <div class="caja">
                                    <h3>7. We didn't hear //much// noise.</h3>
                                </div>
                                <div class="caja">
                                    <h3>8. There aren't //many// cars.</h3>
                                </div>
                                <div class="caja">
                                    <h3>9. She has //a lot of// books.</h3>
                                </div>
                            </div>
                        </div>
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->

        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
<!-- </div> -->
