<!--<div (click)="renovToken()">-->
    <!-- Componente que pertenece al punto 6 del nivel 1 "Plural" -->
    <header>
        <div class="container" id="fondo">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * T E O R I A * * * * * * * * * * -->
            <!--<div *ngIf="showTeoria">--> <!--Teoria empieza con el valor de true, por lo que es lo que se muestra al inicio-->
                <div class="container">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <h1>English plural nouns</h1>
                                <p>In order to change a singular noun to its plural form in English, you usually add "s". 
                                    <br>For example, the plural of book is books. The plural of table is tables. These are regular plurals.
                                </p>
                                    <div class="dosimg">
                                        <img src="../../../assets/Imagenes/N1P6-book.jpg">
                                        
                                        <img src="../../../assets/Imagenes/N1P6-books.jpg">
                                    </div>
                                    <br><br> But there are many nouns which don't follow this rule. 
                                    <br>For example the plural of fish is fish. The plural of tooth is teeth. These are irregular plurals
                                    <div>
                                        <img src="../../../assets/Imagenes/N1P6-teeth.png">
                                    </div>
                                <h2>Spelling of plurals:</h2>
                                <p>The plural form of most nouns is created simply by adding the letter "s".</p>
                                    <br>
                                    <ul>more than one snake = snakes</ul>
                                    <ul>more than one girl = girls</ul>
                                    <ul>more than one window = windows</ul>
                                    <br>
                                    <p>Nouns that end in -ch, x, s, z or s-like sounds, however, will require an es for the plural:</p>
        
                                    <ul>more than one witch = witches</ul>
                                    <ul> more than one box = boxes</ul>
                                    <ul>more than one gas = gases</ul>
                                    <ul>more than one bus = buses</ul>
                                    <ul>more than one kiss = kisses</ul>
                                    <br>
                                    <p>Nouns that end in a vowel + y take the letter s:</p>
                                    <ul>more than one boy = boys</ul>
                                    <ul>more than one way = ways</ul>
                                    <br>
                                    <p>Nouns that end in a consonant + y drop the y and take ies:</p>
                                    <ul>more than one baby = babies</ul>
                                    <ul>more than one lorry = lorries</ul>
                                    <br>
                                    <p>A lot of nouns that end in o take es in the plural:</p>  
                                    <ul>more than one potato = potatoes</ul>
                                    <ul>more than one hero = heroes</ul>
                                    <br>
                                    <p>Plurals of nouns that end in f or fe usually change the f sound to a v sound and add s or -es.</p>
                                    <ul>more than one knife = knives</ul>
                                    <ul>more than one leaf = leaves</ul>
                            </div>
                        </div>
                <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->

        <!-- * * * * * * * * E J E R C I C I O S * * * * * * * * * * -->
        <!-- <div *ngIf="---"> --> <!-- Validación para que muestre los ejercicios -->
            <div class="container">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                        <p>
                            Instructions: Write the correct plural for each word
                        </p>
                            <div id="ejercicio6">
                                <p>
                                    <br>1. Doctor <span *ngIf="submitted && p1" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta1P6"style="text-transform:lowercase;" maxlength="10"><!-- Doctors -->
                                    <br>2. Farm <span *ngIf="submitted && p2" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta2P6"style="text-transform:lowercase;" maxlength="10"><!-- Farms -->
                                    <br>3. Church <span *ngIf="submitted && p3" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta3P6"style="text-transform:lowercase;" maxlength="10"><!-- Churches -->
                                    <br>4. Car <span *ngIf="submitted && p4" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta4P6"style="text-transform:lowercase;" maxlength="10"><!-- Cars -->
                                    <br>5. Beach <span *ngIf="submitted && p5" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta5P6"style="text-transform:lowercase;" maxlength="10"><!-- Beaches-->
                                    <br>6. Tax <span *ngIf="submitted && p6" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta6P6"style="text-transform:lowercase;" maxlength="10"><!-- Taxes -->
                                    <br>7. Day <span *ngIf="submitted && p7" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta7P6"style="text-transform:lowercase;" maxlength="10"><!-- Days -->
                                    <br>8. Story <span *ngIf="submitted && p8" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta8P6"style="text-transform:lowercase;" maxlength="10"><!-- Stories -->
                                    <br>9. Watch <span *ngIf="submitted && p9" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta9P6"style="text-transform:lowercase;" maxlength="10"><!-- Watches -->
                                    <br>10. Year <span *ngIf="submitted && p10" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta10P6"style="text-transform:lowercase;" maxlength="10"><!-- Years -->
                                    <br>11. Tomatoe <span *ngIf="submitted && p11" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta11P6"style="text-transform:lowercase;" maxlength="10"><!-- Tomatoes -->
                                    <br>12. Wife <span *ngIf="submitted && p12" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta12P6"style="text-transform:lowercase;" maxlength="10"><!-- Wives -->
                                    <br>13. Party <span *ngIf="submitted && p13" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta13P6"style="text-transform:lowercase;" maxlength="10"><!-- Parties -->
                                    <br>14. Eye <span *ngIf="submitted && p14" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta14P6"style="text-transform:lowercase;" maxlength="10"><!-- Eyes -->
                                    <br>15. Dress <span *ngIf="submitted && p15" class="wrong badge bg-danger">.</span><input type="text" class="txtField" formControlName="pregunta15P6"style="text-transform:lowercase;" maxlength="10"><!-- Dresses -->
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->

        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
<!-- </div> -->