/* You can add global styles to this file, and also import other style files */
/* Importacion del toastr */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgba(128, 128, 128, 0.253);
}
#next
{
    background-color: rgb(57, 168, 90);
    width: 150px;
    font-size: 120%;
}
#back
{
    background-color: rgb(194, 120, 50);
    width: 150px;
    margin-right: 20px;
    font-size: 120%;
}