<div id="fondo" (click)="renovToken()">
    <!-- Componente que pertenece al punto 1 del nivel 1 "VOCABULARY" -->
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * V O C A B U L A R Y * * * * * * * * * * -->
        <div class="container">
            <div class="card-body">
                <div class="row justify-content-center">

                    <div class="text-center pt-2" id="title">
                        <h1><b>VOCABULARY 1</b></h1>
                    </div>
                    
                    <!-- * * * * * * Primera fila * * * * * *  -->
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Young</h5>
                            <img src="../../../assets/Imagenes/N1P1-joven.png" class="img-fluid" style="height: 40%; width: 79%;">
                            <p class="card-text mt-2">Having lived or existed for only a short time and not old.</p>
                            <ul>
                                <li>We were very young when we met.</li>
                                <li>My puppy is really young, it's only 7 weeks!</li>
                                <li>We are young, let's have fun!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Old</h5>
                            <img src="../../../assets/Imagenes/N1P1-viejo.png" class="img-fluid" style="height: 45%; width: 80%;">
                            <p class="card-text mt-2">Having lived or existed for many years.</p>
                            <ul>
                                <li>I always give my old clothes to my younger sister.</li>
                                <li>These books must be very old.</li>
                                <li>Yesterday I met my old friend, we talked for 3 hours.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Different</h5>
                            <img src="../../../assets/Imagenes/N1P1-dif.png" class="img-fluid" style="height: 45%; width: 90%;">
                            <p class="card-text mt-2">Not the same.</p>
                            <ul>
                                <li>We have totaly different opinions.</li>
                                <li>She enjoys travelling to different places.</li>
                                <li>Ana is different to her sister.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- * * * * * * Segunda fila * * * * * *  -->
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Go</h5>
                            <img src="../../../assets/Imagenes/N1P1-go.png" class="img-fluid" style="height: 45%; width: 90%;">
                            <p class="card-text mt-2">To travel or move to another place.</p>
                            <ul>
                                <li>Where did John go?</li>
                                <li>I go to Barcelona every year.</li>
                                <li>Let's go for a walk.</li>
                                <li>She goes swimming every day.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">City</h5>
                            <img src="../../../assets/Imagenes/N1P1-city.png" class="img-fluid" style="height: 40%; width: 80%;">
                            <p class="card-text mt-2">Is an area in which a large number of people live fairly close together.</p>
                            <ul>
                                <li>David is a city located in the west of Panama.</li>
                                <li>The city was invaded and destroyed by pirates in 1642.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">T-shirt</h5>
                            <img src="../../../assets/Imagenes/N1P1-playera.png" class="img-fluid" style="height: 35%; width: 70%;">
                            <p class="card-text mt-2">A simple piece of clothing, usually with short sleeves and no collar, that covers the top part of the body.</p>
                            <ul>
                                <li>She was wearing jeans and a T-shirt.</li>
                                <li>I was wearing a T-shirt under my jumper.</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- * * * * * * Tercera fila * * * * * *  -->
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Headache</h5>
                            <img src="../../../assets/Imagenes/N1P1-head.png" class="img-fluid" style="height: 45%; width: 90%;">
                            <p class="card-text mt-2">A pain you feel inside your head.</p>
                            <ul>
                                <li>It's an extremely effective cure for a headache.</li>
                                <li>I had a terrible headache, but even so I went to the concert.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Find</h5>
                            <img src="../../../assets/Imagenes/N1P1-find.png" class="img-fluid" style="height: 40%; width: 80%;">
                            <p class="card-text mt-2">To discover.</p>
                            <ul>
                                <li>I can't find my keys.</li>
                                <li>I couldn't find Andrew's phone number.</li>
                                <li>I want to find the answers to all these questions.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center m-lg-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Neighbour</h5>
                            <img src="../../../assets/Imagenes/N1P1-vecino.png" class="img-fluid" style="height: 45%; width: 90%;">
                            <p class="card-text mt-2">Someone who lives very close to you.</p>
                            <ul>
                                <li>I've asked my neighbour to water the plants while I'm away.</li>
                                <li>Have you met Pat, my next-door neighbour?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Botones -->
                <div class="row justify-content-center">
                    <div class="col-3 text-center">
                        <button type="button" class="btn" id="back" routerLink="/level1">Regresar </button>&nbsp;&nbsp; <!--Regresa al menú del nivel 1-->
                        <button type="button" class="btn" id="next" routerLink="/L1P2">Continuar</button> <!--  Va a la función para validar que se debe de mostrar el primer ejercicio-->
                    </div>
                </div>  
                <br>
            </div>
        </div>
        
        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
</div>