<!-- En este HTML encontraras la estructura de la página principal una vez
    se haya iniciado sesion -->

<!-- AQUI VA LO QUE QUEREMOS QUE EL USUARIO VEA AL INGRESAR -->
<body>
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <div class="container">
            <div class="card-body text-center">
                <div>
                    <div class="container">
                        <div class="row">

                            <!-- LADO IZQUIERDO -->
                            <div class="col-4 centrado izq"><br>
                                <h1>{{nombreUsuario}}</h1> <!--Nombre de usuario -->
                                <!-- <h2>Level . . .</h2> Sacar el nivel de la base de datos-->
                                <img src="../../../assets/Imagenes/perfil.png" style="float: unset; height:30%; width:50%;">
                                <br>
                                <a>Your profile</a> <!-- routerLink="/#"-->
                                <br><br>
                                <h3>Progress</h3>
                                <div class="progress m-lg-4" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 13%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">13%</div>
                                </div>
                                <br>
                                <button type="button" class="btn btn-secondary" routerLink="/login">Sign out</button>
                                <br><br>
                            </div>

                            <!-- LADO DERECHO -->
                            <div class="col-7 centrado der">
                                <br>
                                <h1>L E V E L S</h1>
                                
                                <div class="row m-lg-4" id="bg-white">
                                    <button type="button" class="btn btn-outline-dark" routerLink="/level1">Level 1</button>
                                </div>

                                <div class="row m-lg-4" id="bg-white">
                                    <button type="button" class="btn btn-outline-secondary" routerLink="/level2" disabled>Level 2</button>
                                </div>

                                <div class="row m-lg-4" id="bg-white">
                                    <button type="button" class="btn btn-outline-success" routerLink="/level3" disabled>Level 3</button>
                                </div>

                                <img src="../../../assets/Imagenes/menu.gif" style="float: unset; height:45%; width:40%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
</body>
