.centrado
{
    margin: 0 auto;
}
.izq
{
    background-color: #99DD7C;
}
.der
{
    background-color: #F4D75E;
}
#bg-white
{
    background-color: white;
}
main, h1, h2, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}