#fondo
{
    background-image: url(../../../assets/Imagenes/menuBG3.gif);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}
.levelFam
{
    font-family: Georgia, serif;
}
.centrado
{
    margin: 0 auto;
}
.izq
{
    background-color: #99DD7C;
}
.der
{
    background-color:#FCD65E;
}
#bg-white
{
    background-color: white;
}
main, h1, h2, h3{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: Georgia, serif;
}
#ancho
{
    width: 50%;
}
#ancho2
{
    width: 30%;
}
.btnout
{
    background-color: #c2820b;
}