<div id="fondo"> <!--(click)="renovToken()"-->
    <!-- Componente que pertenece al punto 8 del nivel 1 "Present Simple" -->
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * T E O R I A * * * * * * * * * * -->
        <!--<div *ngIf="showTeoria">--> <!--Teoria empieza con el valor de true, por lo que es lo que se muestra al inicio-->
            <div class="container">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            
                            <h1>Present Simple</h1>
                            <h3>How to use the present simple</h3>
                            <p>The present simple is usually used to talk about one of two things:</p>
                            <ol>
                                <li>Habits.</li>
                                <li>Things that are true all the time or that we see as permanent.</li>
                            </ol>
                            <p>Note that the present simple is not used to talk about what is happening now.</p>
                            
                            <h3>Structure of the present simple to form sentences</h3>
                            <p>
                                This verb tense has a basic structure for its affirmative, negative and interrogative modes.
                                <br>In the following table you can get to know it better.
                            </p>

                            <div class="margent2">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Afirmativa</th>
                                            <td>Sujeto + verbo + complemento</td>
                                        </tr>
                                        <tr>
                                            <th>Negativa</th>
                                            <td>Sujeto + auxiliar do/does not + verbo + complemento</td>
                                        </tr>
                                        <tr>
                                            <th>Interrogativa</th>
                                            <td>Auxiliar do/does + sujeto + verbo + complemento </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h3>Conjugation of the present simple</h3>
                            <p>
                                To use the present simple in correctly, it is not enough to know its structure, but it is 
                                also necessary to know what the correct conjugation is.
                            </p>

                            <div class="margent1">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Afirmativa</th>
                                            <th>Negativa</th>
                                            <th>Interrrogativa</th>
                                        </tr>
                                        <tr>
                                            <td>I eat a lot of fruits</td>
                                            <td>I do not eat a lot of fruits</td>
                                            <td>Do I eat a lot of fruits?</td>
                                        </tr>
                                        <tr>
                                            <td>You eat a lot of fruits</td>
                                            <td>You do not eat a lot of fruits</td>
                                            <td>Do you eat a lot of fruits?</td>
                                        </tr>
                                        <tr>
                                            <td>He eats a lot of fruits</td>
                                            <td>He does not eat a lot of fruits</td>
                                            <td>Does he eat a lot of fruits?</td>
                                        </tr>
                                        <tr>
                                            <td>She eats a lot of fruits</td>
                                            <td>She does not eat  a lot of fruits</td>
                                            <td>Does she eat a lot of fruits?</td>
                                        </tr>
                                        <tr>
                                            <td>It eats a lot of fruits</td>
                                            <td>It does not eat a lot of fruits</td>
                                            <td>Does it eat a lot of fruits?</td>
                                        </tr>
                                        <tr>
                                            <td>We eat a lot of fruits</td>
                                            <td>We do not eat a lot of fruits</td>
                                            <td>Do we eat a lot of fruits?</td>
                                        </tr>
                                        <tr>
                                            <td>They eat a lot of fruits</td>
                                            <td>They do not eat a lot of fruits</td>
                                            <td>Do they eat a lot of fruits?</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div><br>
                    
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>
                            &nbsp;&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->



        <!-- * * * * * * * *   E J E R C I C I O S   * * * * * * * * * * -->
        <!-- <div *ngIf="showEx1"> -->
            <!-- <form [formGroup]="ejercicio" (ngSubmit)="checkResp()"> -->
                <div class="container">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h1>Present Simple</h1>
                            <h2 >Excercise 1</h2>
                            <h4 class="mb-5 text-center">Conjugate verbs in parentheses in the present simple. </h4>

                            <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                            <!-- <div class="col-6"> -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p1" class="wrong badge bg-danger">.</span> -->
                                        <b>1. </b>Anne <i>(work)</i>
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- works -->
                                        in a language school.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p2" class="wrong badge bg-danger">.</span> -->
                                        <b>2. </b>She <i>(be)</i> 
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- is -->
                                        a teacher.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p3" class="wrong badge bg-danger">.</span> -->
                                        <b>3. </b>She <i>(teach)</i>
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- teaches -->
                                        english.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Cuarta pregunta  ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p4" class="wrong badge bg-danger">.</span> -->
                                        <b>4. </b>Anne usually <i>(go)</i>
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- goes -->
                                        to school by bus.
                                    </p>
                                </div>
                            <!-- </div> -->
                        </div>
                        <br><hr>

                        <div class="mt-4 row justify-content-center">
                            <h2 >Excercise 2</h2>
                            <h4 class="mb-5 text-center">Make negative sentences.</h4>

                            <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p1" class="wrong badge bg-danger">.</span> -->
                                        <b>1. </b>The children <i>(be/not)</i>
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!--are not / aren´t-->
                                        tired.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p2" class="wrong badge bg-danger">.</span> -->
                                        <b>2. </b>I <i>(drink/not)</i> 
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- do not drink / don't drink -->
                                        milk.
                                    </p>
                                </div>
                                
                                <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p3" class="wrong badge bg-danger">.</span> -->
                                        <b>3. </b>She <i>(like/not)</i>
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- does not like / doesn't like -->
                                        maths.
                                    </p>
                                </div>

                                <!-- ~ ~ ~ ~ Cuarta pregunta  ~ ~ ~ ~ -->
                                <div class="mb-3 text-center">
                                    <p id="fs-p">
                                        <!-- <span *ngIf="submitted && p4" class="wrong badge bg-danger">.</span> -->
                                        <b>4. </b>I <i>(be/not)</i>
                                        <input type="text" class="txtField" style="text-transform:lowercase;" maxlength="10"> <!-- am not -->
                                        from England.
                                    </p>
                                </div>
                        </div>
                        
                        <br><br><br>
                        <!-- Botones -->
                        <div class="row justify-content-center">
                            <div class="col-10 text-center">
                                <button type="button" class="btn" id="back" routerLink="/level1">Cancelar</button>
                                &nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn" id="next">Continuar</button>
                            </div>
                        </div>  
                        <br>
                    </div>
                </div><br><br>
            <!-- </form> -->
        <!-- </div> -->

        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
<!-- </div> -->
