<!-- <div (click)="renovToken()"> -->
    <!-- Componente que pertenece al punto 4 del nivel 1 "oraciones" -->
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <!-- * * * * * * * * T E O R I A * * * * * * * * * * -->
        <!--<div *ngIf="showTeoria">--> <!--Teoria empieza con el valor de true, por lo que es lo que se muestra al inicio-->
            <div class="container">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            
                            <!-- TEXTO -->

                        </div>
                    </div>
                    
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->

        <!-- * * * * * * * * E J E R C I C I O S * * * * * * * * * * -->
        <!-- <div *ngIf="---"> --> <!-- Validación para que muestre los ejercicios -->
            <div class="container">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            
                            <!-- TEXTO -->

                        </div>
                    </div>
                    
                    <!-- Botones -->
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn" id="back" routerLink="#">Regresar </button>&nbsp;&nbsp; 
                            <button type="button" class="btn" id="next">Continuar</button> 
                        </div>
                    </div>  
                    <br>
                </div>
            </div>
        <!-- </div> -->

        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>
    </main>
<!-- </div> -->