<div id="fondo" (click)="renovToken()"> 
    <!-- Componente que pertenece al punto 4 del nivel 1 "oraciones" -->
    <header>
        <div class="container">
            <div>
                <app-navbar></app-navbar>
            </div>
        </div>
    </header>

    <!-- AQUI VA EL CUERPO -->
    <br>
    <main>
        <div class="container">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h1>Sentences</h1>
                    <h2 class="mb-2">Extra excercise</h2>
                    <h3 class="text-center mb-4">Choose the correct answer.</h3>
                    
                    <form [formGroup]="ejercicio1" (ngSubmit)="checkResp1()">
                        <!-- * * * * * * * * E J E R C I C I O S - PRIMERA PARTE * * * * * * * * * * -->
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p1" class="wrong badge bg-danger">.</span>
                                        <b>1. </b>What time do you 
                                        <select formControlName="pregunta1P1">
                                            <option selected> </option>
                                            <option value="going">going</option>
                                            <option value="goes">goes</option>
                                            <option value="go">go</option> <!--Correct answer-->
                                        </select>
                                        to work?
                                    </p>
                                </div>
    
                                <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p2" class="wrong badge bg-danger">.</span>
                                        <b>2. </b>I want to  
                                        <select formControlName="pregunta2P1">
                                            <option selected> </option>
                                            <option value="visiting">visiting</option>
                                            <option value="visit">visit</option> <!--Correct answer-->
                                            <option value="visits">visits</option>
                                        </select>
                                        a new part of the world.
                                    </p>
                                </div>
                                    
                                <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p3" class="wrong badge bg-danger">.</span>
                                        <b>3. </b>Tom 
                                        <select formControlName="pregunta3P1">
                                            <option selected> </option>
                                            <option value="want">want</option> 
                                            <option value="wants">wants</option> <!--Correct answer-->
                                            <option value="wanting">wanting</option>
                                        </select>
                                        to call Anna.
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <!-- ~ ~ ~ ~ Cuarta pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p4" class="wrong badge bg-danger">.</span>
                                        <b>4. </b>The government 
                                        <select formControlName="pregunta4P1">
                                            <option selected> </option>
                                            <option value="knowing">knowing</option> 
                                            <option value="knows">knows</option> <!--Correct answer-->
                                            <option value="know">know</option>
                                        </select>
                                        a lot about this people.
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Quinta pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p5" class="wrong badge bg-danger">.</span>
                                        <b>5. </b>Allie
                                        <select formControlName="pregunta5P1">
                                            <option selected> </option>
                                            <option value="wanting">wanting</option>
                                            <option value="wants">wants</option> <!--Correct answer-->
                                            <option value="want">want</option> 
                                        </select>
                                        to try football.
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Sexta pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <span *ngIf="submitted && p6" class="wrong badge bg-danger">.</span>
                                        <b>6. </b>I
                                        <select formControlName="pregunta6P1">
                                            <option selected> </option>
                                            <option value="work">work</option> <!--Correct answer-->
                                            <option value="works">works</option> 
                                            <option value="working">working</option> 
                                        </select>
                                        with a small group of people.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- * * * * * * * * E J E R C I C I O S - SEGUNDA PARTE * * * * * * * * * * -->
                        <div class="row justify-content-center mt-5">
                            <h3 class="text-center mb-4">Translate the following sentences and choose the correct answer.</h3>
                            <div class="col-5">
                                <!-- ~ ~ ~ ~ Primera pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <b>1. </b>Nosotros no queremos ir a trabajar a tiempo.<br>
                                        <select formControlName="pregunta1P2">
                                            <option selected> </option>
                                            <option value="1">We don´t want to work on time</option><!--Correct answer-->
                                            <option value="2">We have to work at the same time.</option>
                                            <option value="3">We should go to work at the right time.</option> 
                                        </select>
                                        <span *ngIf="submitted && p7" class="wrong badge bg-danger">.</span>
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Segunda pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <b>2. </b>El consiguió la pieza correcta para el coche.<br>
                                        <select formControlName="pregunta2P2">
                                            <option selected> </option>
                                            <option value="1">Try to get the right part for the car.</option> 
                                            <option value="2">Try to look for the right part for the car.</option>
                                            <option value="3">He got the right part for the car.</option> <!--Correct answer-->
                                        </select>
                                        <span *ngIf="submitted && p8" class="wrong badge bg-danger">.</span>
                                    </p>
                                </div>
                                <!-- ~ ~ ~ ~ Tercera pregunta ~ ~ ~ ~ -->
                                <div class="mb-4">
                                    <p id="fs-p">
                                        <b>3. </b>Mark tells me you don't have time.<br> 
                                        <select formControlName="pregunta3P2">
                                            <option selected> </option>
                                            <option value="1">Pídele a Mark que me diga la hora.</option> 
                                            <option value="2">Mark me dice que tú no tienes tiempo.</option> <!--Correct answer-->
                                            <option value="3">Mark llegará aquí en el momento adecuado.</option>
                                        </select>
                                        <span *ngIf="submitted && p9" class="wrong badge bg-danger">.</span>
                                    </p>
                                </div>
                            <!-- ~ ~ ~ ~ Cuarta pregunta ~ ~ ~ ~ -->
                            <div class="mb-4">
                                <p id="fs-p">
                                    <b>4. </b>The company I work for it big.<br> 
                                    <select formControlName="pregunta4P2">
                                        <option selected> </option>
                                        <option value="1">La empresa para la que trabajo es grande.</option> <!--Correct answer-->
                                        <option value="2">Yo quiero trabajar para una empresa grande.</option> 
                                        <option value="3">Los hombres trabajan en una gran empresa.</option>
                                    </select>
                                    <span *ngIf="submitted && p10" class="wrong badge bg-danger">.</span>
                                </p>
                                </div>
                            </div>
                        </div><br>

                        <!-- Botones -->
                        <div class="row justify-content-center">
                            <div class="col-6 text-center">
                                <button type="button" class="btn" id="back" routerLink="/level1">Regresar </button>
                                <button type="submit" class="btn" id="next">Continuar</button> 
                            </div>
                        </div>    
                    </form><br><br>
                </div>
            </div>
        </div>

        <!-- PIE DE LA PÁGINA -->
        <footer>
            <!--  -->
        </footer>    
    </main>
</div> 
